* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	line-height: 1.6;
	margin: 0;
    background-color: #00ace6;
}

.topNav{
    background-color: #f4f4f4;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topRight,.topLeft {
    display: flex;
}

.topRight,img{
    margin-left: 8%;
}

.topLeft,.bottomLeft{
    margin-right: 9%;
}

.phone,.email,.location,.twitter,.facebook,.instagram,.linkedin{
    margin: 7px;
    color: #0e4371;
}
.email a{
    text-decoration: none;
    color: #0e4371;
}

.bottomNav {
    background-color: #f4f4f4;
    box-shadow: 0px 3px 15px rgba(25, 119, 204, 0.1);
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomLeft{
    display: inline-block;
}

.navOptions,.appointment-btn{
    display: inline-block;
}


.navOptions li{
    display: inline;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px;
}

.navOptions a {
    text-decoration: none;
    color: #166bb6;
    border-bottom: 2px solid #f4f4f4;
    transition: 0.3s;
}

.navOptions a:hover, .navOptions a:active {
  color: #000;
  border-color: #000;
}

img{
    width: 12%;
    height: 12%;
    float: left;
}

.appointment-btn{
    background: #1977cc;
    color: #fff;
    border-radius: 50px;
    padding: 8px 20px;
    transition: 0.3s;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}

.appointment-btn:hover {
  background: #145e9f;
}

.heading{
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 1px #777;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container{
    width: 75%;
	padding: 10px 20px;
	background: #FFFFFF;
	margin: 10px auto;
	padding: 20px;
	border-radius: 8px;
    font-size: 20px;
}

.container label {
	display: block;
	margin-bottom: 8px;
    font-weight: bold;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="tel"],
.container input[type="date"],
.container textarea,
.container select {
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	margin-bottom: 30px;
}

.container input[type="text"]:focus,
.container input[type="email"]:focus,
.container input[type="tel"]:focus,
.container input[type="date"]:focus,
.container textarea:focus,
.container select:focus{
	background: #d2d9dd;
}

.container button[type="submit"] {
  background-color: #00b3b3;
  border: 0;
  border-radius: 80px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  margin-top: 20px;
  padding: 9px;
  padding-right: 22px;
  padding-left: 22px;
  text-align: center;
  cursor: pointer;
}

.container button[type="submit"]:hover {
	background: #008080;
}

