.box {
    box-sizing: border-box;
}

.body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    background-color: #00ace6;
}

.heading{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 1px #777;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container{
    width: 75%;
    padding: 10px 20px;
    background: #FFFFFF;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
}

.container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="tel"],
.container input[type="date"],
.container textarea,
.container select {
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    margin-bottom: 30px;
}

.container input[type="text"]:focus,
.container input[type="email"]:focus,
.container input[type="tel"]:focus,
.container input[type="date"]:focus,
.container textarea:focus,
.container select:focus{
    background: #d2d9dd;
}

.container button[type="submit"] {
    background-color: #00b3b3;
    border: 0;
    border-radius: 80px;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 18px;
    margin-top: 20px;
    padding: 9px;
    padding-right: 22px;
    padding-left: 22px;
    text-align: center;
    cursor: pointer;
}

.container button[type="submit"]:hover {
    background: #008080;
}

