@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("./hero-bg.jpg");
    background-size: cover;
    overflow-x: hidden;
}

.heading-container {
    width: 100%;
    padding-top: 4%;
    padding-bottom: 2%;
}

.header {
    width: auto;
    margin-left: 5%;
    padding-top: 2%;
    text-align: left;
}

.header h1 {
    font-size: 60px;
    line-height: 0%;
    text-shadow: 2px 2px 5px #000000;

}
.header h2 {
    font-size: 30px;
    line-height: 0%;
    text-shadow: 2px 2px 5px #000000;

}

.header-button-container {
    padding-top: 10px;
}

a {
    background-color: #3b5b8f;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

a:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

.details-container {
    padding-top: 6%;
    display: flex;
    justify-content: space-evenly;
    height: auto;
}

.details {
    vertical-align: middle;
    align-items: center;
    background-color: #254985;
    padding: 5px 30px;
    color: white;
    width: 24%;
}

.button-link {
    padding: 8% 0%;
    text-align: center;
}

.footer_style {
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}
.global {
    padding: 50px;
    color: #f0f9ff;
    margin-top: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img2.jpeg");
    /*background-image: url("img2.jpeg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    filter: brightness(75%)
}
.global .curve {
    position: absolute;
    top: 17%;
    background: #000;
    opacity: 0.2;
    width: 90%;
    height: 38%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.global h6 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.global ul {
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
}
.global ul a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.global ul a:hover {
    opacity: 0.8;
    color: #eee;
}
.global .social {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;
    border-top: 1px solid #eee;
    margin-top: 50px;
}
.global .social a {
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #1895b9;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
    margin: 10px;
    color: #fff;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}
.global .social a:hover {
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px rgba(255, 255, 255, 0.9);
}
.global .copyright{
    text-align: left;
    padding-top: 24px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
}

@media (max-width: 767px) {
    .global .curve {
        left: 5%;
        height: 70%;
    }
    .global h6 {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .global h4 {
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .global ul {
        text-align: center;
    }
    .social {
        margin: 0 auto;
    }
}
