.box {
	box-sizing: border-box;
}
.body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	min-height: 100vh;
    background-color: #FFFFFF;
}

.heading{
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 2px white, 0 1px #777;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.gallery{
  margin: 10px 50px;
}

.gallery img{
  transition: 1s;
  padding: 35px;
  width: 300px;
}

.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}

button[type="submit"] {
  background-color: #00b3b3;
  border: 0;
  border-radius: 80px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: Arial, sans-serif;
  font-size: 17px;
  margin-top: 10px;
  margin-left: 25px;
  padding: 9px;
  padding-right: 22px;
  padding-left: 22px;
  text-align: center;
  cursor: pointer;
}

button[type="submit"]:hover {
	background: #008080;
}

