@import url("https://fonts.googleapis.com/css?family=Nunito:400,900[Montserrat]Roboto");


.containerProfile {
	background: rgba(255, 255, 255, 0.94);
	width:540px;
	height:520px;
	margin:0 auto;
	position: relative ;
	margin-top:5%;
	box-shadow:2px 5px 20px rgba(0, 0, 0, 0.14);
}
.leftbox{
	float:left;
	top:-5%;
	left:5%;
	position:absolute;
	width:15%;
	height:110%;
	background: linear-gradient(to right, #6794d4, #00d0ff);
	box-shadow:5px 3px 10px rgba(119,119,119,.5);
	border:.1em solid #fff;
}

.navProf a{
	list-style:none;
	padding:40px;
	padding-bottom: 53px;
	color:#fff;
	font-size:1.5em;
	display:block;
	transition:all .3s ease-in-out;
}
.navProf a:hover{
	color: #ffffff;
	cursor:pointer;
	transform:scale(2);

}
.navProf a:first-child{
	margin-top:7px;
}
.navProf a.active{
	color: rgb(0, 0, 0);
}
.rightbox{
	width:60%;
	margin-left:27%;
	/*padding-top:5px;*/

}
.tabShow{
	transition:all .5s ease-in;
	width:80%;
	position:absolute;
}
.h1{
	font-family: "Montserrat", sans-serif;
	color: #000000;
	font-size:1.2rem;
	margin-top:40px;
	margin-bottom:35px;
}
.h2{
	color: rgba(2, 0, 0, 0.54);
	font-family:"Roboto",sans-serif;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:1px;
	margin-left:2px;
	margin-top:10px;
}
.inputProf,p{
    background: rgba(2, 0, 0, 0);
	border:0;
	border-bottom:1px solid rgba(0, 0, 0, 0.58);
	width:80%;
	font-family: 'montserrat', sans-serif;
	font-size: 12px;
	padding:7px 0;
	color:#070707;
	outline:none;
}
span{
	font-size:.7em;
	color:#777;
}

.btn{
	font-family:"roboto",sans-serif;
	text-transform:uppercase;
	font-size:15px;
	border:0;
	color:#fff;
	background: rgba(1, 2, 5, 0.4);
	padding:7px 15px;
	box-shadow:0px 2px 4px 0px rgba(0,0,0,.2);
	cursor:pointer;
	margin-top:15px;

}
.tdata{
	width:190px
}


#popup{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:500px;
	height:530px;
	padding: 50px;
	box-shadow: 0 5px 30px rgba(0,0,0,.30);
	background: linear-gradient(to right, rgba(0, 242, 255, 0.19), rgba(0, 0, 0, 0));
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
#popup.active{
	visibility: visible;
	background: rgba(248, 255, 253, 0.51);
	opacity: 1;
	transition: 0.5s;
}
.container#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}

.scrollDiv{
    align-content: center;
	width:350px;
	height: 400px;
	background: transparent;
	padding: 10px;
	overflow: hidden;
	overflow-y: scroll;
}
.center{
    text-align: center;
}
.receipt{
    padding-left: 10px;

    background: rgba(0, 0, 0, 0.03);
    width: 320px;
    border:1px solid black;
    padding-bottom: 10px;
}
