<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Book an Appointment</title>

    <link rel="stylesheet" href="../static/channelling.css">
</head>
<body >
    <header class="header">
        <img src = "/static/skinSafeLogo.jpg">
      <ul class="navbar">
          <li><a href="#">Home</a></li>
          <li><a href="#">Clinic Manager</a></li>
          <li><a href="#">Scan your Skin</a></li>
      </ul>
      <a href="#channelling" class="appointment-btn">Book an Appointment</a>

	</header>

    <h1 class="heading">Book an appointment</h1>

    <section>
        <div class="container">
            <form action="{{ url_for('add_channel')}}" method="post" role="form" class="form">

                <div class="formElement">
                    <label for="name">Full Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Full Name" required>
                </div>

                <div class="formElement">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>

                <div class="formElement">
                    <label for="mobNo">Phone Number</label>
                    <input type="tel" class="form-control" name="mobNo" id="mobNo" placeholder="Phone Number" pattern="[0-9]{10}" required>
                </div>

                <div class="formElement">
                    <label for="appointment">Appointment Date</label>
                    <input type="date" name="appointment" id="appointment" required>
                </div>

                <div>
                    <button type="submit" value="checkOption">Check Option</button>
                </div>
                <br>

                <div class="formElement">
                    <select name="doctorId" id="doctor" class="form-select">
                    <option value="">Select Doctor</option>
                        {% for doctorList in doctorList %}
                            <option value="{{ doctorList[0] }}">{{ doctorList[4] +" "+doctorList[5] +"("+doctorList[2] +" - "+doctorList[3]+")" }}</option>
                        {% endfor %}

                    </select>
                </div>

                <div class="formElement">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" id="message" rows="5" placeholder="Message (Optional)"></textarea>
                </div>

                <div>
                    <button type="submit" value="makeAppointment">Make an Appointment</button>
                </div>
            </form>
        </div>
      </section>



</body>
</html>