
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" href='../static/admin.css'>
        <link rel="stylesheet" href="/static/stylePopupWindow.css">
        <link rel="stylesheet" href='../static/doctors.css'>

    </head>
    <body>
        <div class="sidebar">
            <div class="sidebar-brand">
                <h2><span class="lab la-accusoft"></span>Admin</h2>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="{{ url_for('adminDashboard')}}" ><span class="las la-igloo"></span>
                        <span>Dashboard</span></a>
                    </li>
                    <li>
                        <a href="{{ url_for('doctor_search')}}"><span class="las la-user-nurse"></span>
                        <span>Doctors</span></a>
                    </li>
                    <li>
                        <a href="{{ url_for('patient_Search')}}"><span class="las la-procedures"></span>
                        <span>Patients</span></a>
                    </li>

                    <li>
                        <a href="{{ url_for('addTest')}}" class="active" ><span class="las la-clipboard-list"></span>
                        <span>Clinic Reports</span></a>
                    </li>


                    <li>
                        <a id="loggg" onclick="openPopup()"><span class="las la-sign-out-alt"  > </span>


                        <span>Logout</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-content">
            <header>
                <h2>
                    <label for="">
                        <span class="las la-bars"></span>
                    </label>
                    Clinic Report
                </h2>

                <div class="search-wrapper">
                    <span class="las la-search"></span>
                    <input type="search" placeholder="Search here"/>
                </div>

            </header>

            <main>
                <form method="post" action="{{ url_for('addTest') }}" method=post enctype="multipart/form-data" >
                <div class="search-doctor">
                    <span class="las la-search "></span>
                    <input type="text" name="email" placeholder="Enter Patient Email " />
                    <input type="file" name="image" id="pwd" class="inputfile">
                </div>
                <br>


                 <button class="button" id="remove-doctor" name="button" value="addchanel">Add Clinic Report </button>

{#                <a href="{{ url_for('#')}}">#}
{#                    <button id="edit-details"> Edit Details</button>#}
{#                </a>#}

            </form>
                <div class="cd2 ">
                <span id="cd-2 ">
                    <p>{{ msg }}</p>
                </span>
                </div>

            </main>
        </div>

         <div class="popupWindow" id="popupMsgWindow" style="color: white">
        <img src="/static/logout.png">
        <h2>Log Out</h2>
        <br>
        <h4>Are you sure you want to logout?</h4>
        <br>
        <br>
        <table>
            <tr>
                <td class="tWinData">
                    <button class="btnWindow" type="button" onclick="closePopup()">Cancel</button>
                </td>

                <td class="tWinData">
                    <a href="{{ url_for('logout') }}" ><button class="btnWindow" type="button">Logout</button></a>
                </td>
            </tr>
        </table>
    </div>



 <script>
        var popup=document.getElementById("popupMsgWindow");

        function openPopup() {
            popup.classList.add("open-popupWindow")
        }
        function closePopup() {
            popup.classList.remove("open-popupWindow")
        }
    </script>

    </body>


</html>