<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href='../static/admin.css'>
    <link rel="stylesheet" href='../static/doctors.css'>
</head>

<body>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lab la-accusoft"></span>Admin</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="{{ url_for('adminDashboard')}}"><span class="las la-igloo"></span>
                        <span>Dashboard</span></a>
                </li>
                <li>
                    <a href="{{ url_for('doctor_search')}}" class="active"><span class="las la-user-nurse"></span>
                        <span>Doctors</span></a>
                </li>
                <li>
                    <a href="{{ url_for('patient_Search')}}"><span class="las la-procedures "></span>
                        <span>Patients</span></a>
                </li>

                <li>
                    <a href="{{ url_for('regDoc')}}" ><span class="las la-clipboard-list "></span>
                        <span>Clinic Reports</span></a>
                </li>


                <li>
                    <a href="{{ url_for('logout')}} "><span class="las la-sign-out-alt "></span>
                        <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content ">
        <header>
            <h2>
                <label for=" ">
                        <span class="las la-bars "></span>
                    </label>Doctors
            </h2>


        </header>


        <main>

            <form method="post" action="{{ url_for('doctor_search') }}" >
                <div class="search-doctor ">
                    <span class="las la-search "></span>
                    <input type="text " name="email" placeholder="Enter Doctor Email " />
                </div>
                <br>

                <button   id="removepatient" name="button" value="searchDoc"> Search Doctor</button>



                <button   id="removepatient" name="button" value="addDoc"> Add Doctor</button>



                <button id="remove-doctor" name="button" value="removeDoc">Remove Doctor </button>

                 <button id="remove-doctor" name="button" value="addchanel">Add Channelling Time </button>

{#                <a href="{{ url_for('#')}}">#}
{#                    <button id="edit-details"> Edit Details</button>#}
{#                </a>#}

            </form>

            <div class="cd2 ">
                <span id="cd-2 ">
                    {% if account !=[]%}
                        <table>


                            <tr>
                                <td>
                                    <h3>Full Name</h3>
                                </td>
                                <td>
                                    <p>{{ account[1] + " " +account[2]}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Doctor ID</h3>
                                </td>
                                <td>
                                    <p>{{ account[0]}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Age</h3>
                                </td>
                                <td>
                                    <p>{{ account[3]}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3 >Email</h3>
                                </td>
                                <td>
                                    <p>{{ account[4]}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Address</h3>
                                </td>
                                <td>
                                    <p>{{ account[5]}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Mobile Number </h3>
                                </td>
                                <td>
                                    <p> {{ account[7] }}</p>

                                </td>
                            </tr>
                        </tr>
                            <tr>
                                <td>
                                    <h3>Address</h3>
                                </td>
                                <td>
                                    <p> {{ account[6] }}</p>

                                </td>
                            </tr>

                        </table>
                    {% else %}
                        <p>{{ msg }}</p>
                    {% endif %}
                </span>
            </div>
        </main>

    </div>

</body>

</html>