<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://kit.fontawesome.com/4ff5eafb8e.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="../static/styleFooter.css">

<div class="footer_style">

    <div class="global">
        <div class="curve"></div>

            <div class="row">
                <div class="col-md-6 col-md-3">
                    <h4>Contact Us</h4>
                    <div class="icon-location">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>No 87,Alake Road,Colombo 3</p>
                    </div>
                    <div class="icon-phone">
                        <i class="fa-solid fa-phone"></i>
                        <p> +94 (11) 236 4760</p>
                    </div>
                    <p class="copyright"> &copy; Copyright <b>Skin Safe</b> All Rights Reserved</p>

                </div>


                <div class="col-sm-6 col-md-2">
                    <h6>Services</h6>
                    <ul>
                        <li><a href="#">Skin Scan</a> </li>
                        <li><a href="#">Channelling</a> </li>
                        <li><a href="#">Prescription</a> </li>
                        <li><a href="#">Test Report </a> </li>
                    </ul>
                </div>



                <div class="col-sm-6 col-md-2">
                    <h6>Legal</h6>
                    <ul>
                        <li><a href="#">Terms & Conditions</a> </li>
                        <li><a href="#">Privacy Policy</a> </li>
                        <li><a href="#">Terms of use</a> </li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-2">
                    <h6>Subscribe</h6>
                    <ul>
                        <li>
                            <a href="#"><input type="text" placeholder="Email.." style="height:25px;"></a>
                        </li>
                        <li>
                            <button>Subscribe</button>
                        </li>

                    </ul>
                </div>

                <div class="social">
                    <h5>Follow us</h5>
                    <a href="#"><i class="fa fa-facebook"></i> </a>
                    <a href="#"><i class="fa fa-twitter"></i> </a>
                    <a href="#"><i class="fa fa-instagram"></i> </a>
                    <a href="#"><i class="fa fa-google-plus"></i> </a>
                </div>

            </div>

    </div>

</div>

</body>
</html>