<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script src="https://kit.fontawesome.com/4ff5eafb8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styleHeader.css">

        <div class="topNav">
            <div class="topRight">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span>+94 (11) 236 4760</span>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <span><a href="mailto:skinsafe@techfusion.com">skinsafe@techfusion.com</a></span>
                </div>
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>No 87,Alake Road,Colombo 3</span>
                </div>
            </div>

            <div class="topLeft">
                <div class="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="instagram">
                     <i class="fa-brands fa-instagram"></i>
                </div>
               <div class="linkedin">
                   <i class="fa-brands fa-linkedin"></i>
               </div>
            </div>
        </div>

         <div class="bottomNav">
             <img src = "/static/skinSafeLogo.jpg">
             <div class="bottomLeft">
             <ul class="navOptions">
              <li><a href="#">Home</a></li>
              <li><a href="#">Clinic Manager</a></li>
              <li><a href="#">Scan your Skin</a></li>
              <li><a href="#">Contact</a></li>
             </ul>
             <a href="#channelling" class="appointment-btn">Book an Appointment</a>
             </div>
         </div>

</body>
</html>