<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Medilab</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <link href="../static/home.css" rel="stylesheet">
    </head>

    <body>
        <div class="main-container">
            <div class="heading-container">
                <div class="header">
                    <h1>Welcome to Medilab</h1>
                    <h2>We Tae Care of All Your Medical Needs</h2>
                    <div class="header-button-container">
                        <a href="inner-page.html">GET STARTED</a>
                    </div>
                </div>
            </div>

            <div class="details-container">
                <div class="details">
                    <div class="content">
                        <h1>We're SKIN SAFE</h1>
                        <p>
                            Skin Disease Detecting System With A Clinic Management System.
                        </p>
                        <div class="button-link">
                            <a href="#" class="more-btn">More about us!&nbsp;&nbsp;> </a>
                        </div>
                    </div>
                </div>

                <div class="details">

                    <div class="content">
                        <h1>Let's have a look at your "SKIN"</h1>
                        <p>
                            SKIN SAFE Skin Disease Detection!
                        </p>
                        <div class="button-link">

                            <a href="{{ url_for('upload_predict')}}" class="more-btn">SCAN&nbsp;&nbsp;> </a>

                        </div>
                    </div>

                </div>

                <div class="details">
                    <div class="content">
                        <h1>Make an Appoinment</h1>
                        <p>
                            Let's have an Appoinment
                        </p>
                        <div class="button-link">
                            <a href="{{ url_for('addChannel')}}" class="more-btn"> Appoinment&nbsp;&nbsp;></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>