<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/4ff5eafb8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/prescription.css">

    <title>Prescriptions</title>

</head>
<body>
<div class="body">
    <div include-html="{{ url_for('header') }}" id="header_file"></div>

    <h1 class = "heading">Prescription</h1>
    <div>
         <form class="form-horizontal" action="{{ url_for('addPress') }}" method=post enctype="multipart/form-data">
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Upload Your Image</label>
          <div class="col-sm-10">
            <input type="file" name="image" id="pwd" class="inputfile">

              <button type="submit" value="addPrescription">Add Prescription</button>
          </div>
        </div>
    </form>

    </div>
    <div class="gallery">
        {% for imagelist in imagelist %}
            <a href="{{ url_for('static', filename=imagelist)}}"><img src = "{{ url_for('static', filename=imagelist)}}" style="width: 250px; height: 200px; justify-content: center"></a>
        {% endfor %}
    </div>
</div>
<div include-html="{{ url_for('footer') }}" id="footer_file"></div>

<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/include-html.min.js"></script>

</body>
</html>
