<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan Skin</title>
    <script src="https://kit.fontawesome.com/4ff5eafb8e.js" crossorigin="anonymous"></script>
    <link href="../static/skin.css" rel="stylesheet">
</head>
<body>
    <div class="body">
        <div include-html="{{ url_for('header') }}" id="header_file"></div>

    <h1 class="heading">Scan your skin</h1>
    <p>Why try to figure out what's wrong with your skin on your own?</p>
    <p>Take control with the quickest and smartest approach to diagnose </p>
    <p>your health and choose whether you require medical treatment.</p>
    <br>
    <p>Detecting 10 risky diseases, and if the uploaded image is not </p>
    <p>one of the risky diseases, you will be given a probability percentage</p>
    <p>of the likelihood of it being one of the 10 diseases stated below.</p>

    <br>
    <p>The predicted diseases are:</p>
    <p>1. Eczema</p>
    <p>2. Melanoma</p>
    <p>3. Atopic Dermatitis</p>
    <p>4. Basal Cell Carcinoma</p>
    <p>5. Melanocytic Nevi</p>
    <p>6. Benign Keratosis-like Lesions</p>
    <p>7. Psoriasis pictures Lichen Planus and related diseases</p>
    <p>8. Seborrheic Keratoses and other Benign Tumors</p>
    <p>9. Tinea Ringworm Candidiasis and other Fungal Infections</p>
    <p>10. Warts Molluscum and other Viral Infections</p>
    <br>

    <form class="form-horizontal" action="/predict" method=post enctype="multipart/form-data">
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Upload Your Image</label>
          <div class="col-sm-10">
            <input type="file" name="image" id="pwd" class="inputfile">
            <input type=submit value=Upload>
          </div>
        </div>
    </form>
          <p>  <i> {{msg}}  </i>
              <p> <i> {{class_name }}  </i></p>
               <p> <i> {{pre }}  </i></p>
        <div include-html="{{ url_for('footer') }}" id="footer_file"></div>    </div>

<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/include-html.min.js"></script>


</body>
</html>