<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan Skin</title>
      <link href="../static/skin.css" rel="stylesheet">
</head>
<body>

    <main id="main">
    <header class="header">
            <h1 class="logo"><a href="#">Flexbox</a></h1>
          <ul class="main-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
        </header>

    <h1 class="heading">Scan your skin</h1>
    <p>Why try to figure out what's wrong with your skin on your own?</p>
    <p> Take charge with the quickest and smartest approach to diagnose </p>
    <p>your health and choose whether you require medical treatment.</p>
    <br>

    <form class="form-horizontal" action="/c" method=post enctype="multipart/form-data">

        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Upload Your Image</label>
          <div class="col-sm-10">
            <input type="file" name="image" id="pwd" class="inputfile">
            <input type=submit value=Upload>
          </div>
        </div>
          </form>
          <p>  <i> {{msg}}  </i>
              <p> <i> {{class_name }}  </i></p>
               <p> <i> {{pre }}  </i></p>


      </main>

  <br>






</body>
</html>