<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/4ff5eafb8e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/prescription.css">
    <meta charset="UTF-8">
    <title>Test Reports</title>

</head>
<body>
    <header>
        <div class="topNav">
            <div class="topRight">
                <div class="phone">
                    <i class="fa-solid fa-phone"></i>
                    <span>+94 (11) 236 4760</span>
                </div>
                <div class="email">
                    <i class="fa-solid fa-envelope"></i>
                    <span><a href="mailto:skinsafe@techfusion.com">skinsafe@techfusion.com</a></span>
                </div>
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    <span>Colombo,Sri Lanka</span>
                </div>
            </div>

            <div class="topLeft">
                <div class="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="facebook">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="instagram">
                     <i class="fa-brands fa-instagram"></i>
                </div>
               <div class="linkedin">
                   <i class="fa-brands fa-linkedin"></i>
               </div>
            </div>
        </div>

         <div class="bottomNav">
             <img src = "/static/skinSafeLogo.jpg">
             <div class="bottomLeft">
             <ul class="navOptions">
              <li><a href="#">Home</a></li>
              <li><a href="#">Clinic Manager</a></li>
              <li><a href="#">Scan your Skin</a></li>
              <li><a href="#">Contact</a></li>
             </ul>
             <a href="#channelling" class="appointment-btn">Book an Appointment</a>
             </div>
         </div>
	</header>

    <h1 class = "heading">Test Reports</h1>
    <div>


    </div>
    <div class="gallery">
        {% for testReportList in testReportList %}
            <a href="{{ url_for('static', filename=testReportList)}}"><embed type="application/pdf" src = "{{ url_for('static', filename=testReportList)}}" style="width: 400px; height: 300px; justify-content: center"></a>
        {% endfor %}
    </div>

</body>
</html>