<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/prescription.css">
    <meta charset="UTF-8">
    <title>Test Reports</title>

</head>
<body>
    <div class="body">
        <div include-html="{{ url_for('header') }}" id="header_file"></div>

    <h1 class = "heading">Test Reports</h1>
    <div>


    </div>
    <div class="gallery">
        {% for testReportList in testReportList %}
            <a href="{{ url_for('static', filename=testReportList)}}"><embed type="application/pdf" src = "{{ url_for('static', filename=testReportList)}}" style="width: 400px; height: 300px; justify-content: center"></a>
        {% endfor %}
    </div>
        <div include-html="{{ url_for('footer') }}" id="footer_file"></div>
    </div>

<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/include-html.min.js"></script>

</body>
</html>